site_name: Bio-Structure Hub
repo_url: https://github.com/ssciwr/BioStructureHub/



#=======    Theme Settings   =====
theme:
  name: material
  logo: images/Logoleiste_SSC_4c.png
  icon:
    repo: fontawesome/brands/github
  palette:
    # Light mode
    - scheme: default
      primary: white
      accent: custom
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode



    # Dark mode
    - scheme: slate
      primary: black
      accent: custom
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

  features:
    #- navigation.tabs
    - navigation.indexes # removes empty index from navigation
    - navigation.tracking
    #- toc.integrate


#=======    Website Navigation settings   =====
nav:
  - Home: index.md
  - About: about.md
  - News:
    - blog/index.md
  - Services: services.md
  - Projects: projects.md
  - Resources: resources.md
  - Tutorials: 
      - tutorials/tutorial_AF_bwVisu.md 
      - tutorials/tutorial_Bindcraft_bwVisu.md
      - tutorials/tutorial_Boltzgen_bwVisu.md
      - tutorials/tutorial_RFDiffusion_bwVisu.md
  - How to cite us: cite.md
  - Contact: contact.md

extra_css:
  - stylesheets/extra.css

markdown_extensions:

  - attr_list
  - md_in_html
  - pymdownx.snippets:
      base_path: 'docs/'


plugins:
  - blog:
      archive: false
      archive_toc: true
      authors: false
      blog_toc: true
  - search